<a href="https://colab.research.google.com/github/BeatrizPCandido/preta_lab_ciclo14/blob/main/Aula_12_Autogest%C3%A3o_Banco_de_Dados_Relacionais_e_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# AutogestÃ£o - Banco de Dados Relacionais e SQL

Utilize DB-fiddle: https://www.db-fiddle.com/

### 1. Criando tabelas (15 min)

a. Crie uma tabela chamada filmes com as colunas:

* id (inteiro, chave primÃ¡ria, serial (autoincremento))
* titulo (texto, obrigatÃ³rio)
* genero (texto, obrigatÃ³rio)
* ano_lancamento (inteiro)

b. Crie uma tabela chamada avaliacoes com as colunas:

* id (inteiro, chave primÃ¡ria, serial(autoincremento))
* filme_id (inteiro, chave estrangeira que referencia a tabela filmes)
* nota (inteiro, de 1 a 5)
* comentario (texto, opcional)

In [ ]:
# Tabela de filmes
CREATE TABLE filmes (
    id INT AUTO_INCREMENT PRIMARY KEY,
    titulo VARCHAR(255) NOT NULL,
    genero VARCHAR(100) NOT NULL,
    ano_lancamento INT
);

# -- Tabela de avaliaÃ§Ãµes
CREATE TABLE avaliacoes (
    id INT AUTO_INCREMENT PRIMARY KEY,
    filme_id INT NOT NULL,
    nota INT,
    comentario TEXT,
    FOREIGN KEY (filme_id) REFERENCES filmes(id)
);

### 2. Inserindo linhas nas tabelas (15 min)

a. Insira 20 filmes diferentes na tabela, de gÃªneros variados (aÃ§Ã£o, comÃ©dia, drama, animaÃ§Ã£o, etc.).

b. Insira 40 avaliaÃ§Ãµes para diferentes filmes, variando as notas (ex.: um filme com nota 5, outro com nota 3).

ðŸ‘‰ Dica: Podemos usar IA para gerar exemplos para Banco de Dados.

In [ ]:
INSERT INTO filmes (titulo, genero, ano_lancamento) VALUES
('A Ãšltima MissÃ£o', 'AÃ§Ã£o', 2020),
('Risos em FamÃ­lia', 'ComÃ©dia', 2018),
('Caminhos da Alma', 'Drama', 2019),
('Mundo Encantado', 'AnimaÃ§Ã£o', 2021),
('Noite Sombria', 'Suspense', 2022),
('Amor em Paris', 'Romance', 2017),
('O CÃ³digo Secreto', 'AÃ§Ã£o', 2023),
('FÃ©rias Frustradas', 'ComÃ©dia', 2016),
('LÃ¡grimas do Passado', 'Drama', 2020),
('Aventuras no EspaÃ§o', 'FicÃ§Ã£o CientÃ­fica', 2021),
('O MistÃ©rio da Casa Verde', 'Suspense', 2019),
('CoraÃ§Ãµes Partidos', 'Romance', 2022),
('HerÃ³is do AmanhÃ£', 'AÃ§Ã£o', 2024),
('O Show da Vida', 'ComÃ©dia', 2015),
('Sombras do SilÃªncio', 'Drama', 2018),
('A Ilha Perdida', 'Aventura', 2020),
('O Reino dos Sonhos', 'Fantasia', 2021),
('Segredos do Subsolo', 'Terror', 2023),
('O Poder da MÃºsica', 'Musical', 2019),
('Planeta Azul', 'DocumentÃ¡rio', 2022);

In [ ]:
INSERT INTO avaliacoes (filme_id, nota, comentario) VALUES
(1, 5, 'Excelente aÃ§Ã£o e roteiro envolvente'),
(2, 3, 'Divertido, mas previsÃ­vel'),
(3, 4, 'Drama tocante e bem dirigido'),
(4, 5, 'AnimaÃ§Ã£o encantadora para todas as idades'),
(5, 2, 'Suspense fraco e sem ritmo'),
(6, 4, 'Romance leve e agradÃ¡vel'),
(7, 5, 'AÃ§Ã£o intensa e bem produzida'),
(8, 3, 'ComÃ©dia mediana'),
(9, 4, 'Drama profundo e emocionante'),
(10, 5, 'FicÃ§Ã£o cientÃ­fica criativa'),
(11, 2, 'HistÃ³ria confusa'),
(12, 4, 'Romance com boas atuaÃ§Ãµes'),
(13, 5, 'AÃ§Ã£o futurista excelente'),
(14, 3, 'ComÃ©dia simples'),
(15, 4, 'Drama com boas reflexÃµes'),
(16, 5, 'Aventura empolgante'),
(17, 4, 'Fantasia bem construÃ­da'),
(18, 2, 'Terror previsÃ­vel'),
(19, 5, 'Musical inspirador'),
(20, 4, 'DocumentÃ¡rio informativo'),
(1, 4, 'Bom filme de aÃ§Ã£o'),
(2, 2, 'ComÃ©dia sem graÃ§a'),
(3, 5, 'Drama muito bem feito'),
(4, 3, 'AnimaÃ§Ã£o ok'),
(5, 1, 'NÃ£o gostei do suspense'),
(6, 5, 'Romance envolvente'),
(7, 4, 'AÃ§Ã£o bem dirigida'),
(8, 3, 'ComÃ©dia razoÃ¡vel'),
(9, 5, 'Drama excelente'),
(10, 4, 'Boa ficÃ§Ã£o'),
(11, 2, 'Suspense fraco'),
(12, 5, 'Romance muito bom'),
(13, 4, 'AÃ§Ã£o interessante'),
(14, 3, 'ComÃ©dia leve'),
(15, 5, 'Drama marcante'),
(16, 4, 'Aventura divertida'),
(17, 5, 'Fantasia criativa'),
(18, 1, 'Terror ruim'),
(19, 5, 'Musical emocionante'),
(20, 4, 'DocumentÃ¡rio bem feito');

### 3. Consultando filmes

\a. Liste todos os filmes de um Ãºnico gÃªnero.

b. Depois, liste apenas os filmes lanÃ§ados depois de 2010.

c. Liste todos os filmes em ordem alfabÃ©tica de tÃ­tulo.

d. Liste todos os filmes ordenados pelo ano de lanÃ§amento (mais recente primeiro).

In [ ]:
#  Liste todos os filmes de um Ãºnico gÃªnero.
SELECT * FROM filmes WHERE genero = 'ComÃ©dia';

In [ ]:
#b. Depois, liste apenas os filmes lanÃ§ados depois de 2010.
SELECT * FROM filmes WHERE ano_lancamento > 2010;

In [ ]:
# c. Liste todos os filmes em ordem alfabÃ©tica de tÃ­tulo.
SELECT * FROM filmes ORDER BY titulo;

In [ ]:
#d. Liste todos os filmes ordenados pelo ano de lanÃ§amento (mais recente primeiro).
SELECT * FROM filmes ORDER BY ano_lancamento DESC;

### 4. Consultando avaliaÃ§Ãµes

a. Liste todas as avaliaÃ§Ãµes ordenadas por nota decrescente.

b. Selecione todas as avaliaÃ§Ãµes com nota maior ou igual a 4.

c. Selecione os comentÃ¡rios em que aparece as palavras 'bom' ou 'gostei'.

In [ ]:
# a. Liste todas as avaliaÃ§Ãµes ordenadas por nota decrescente.
SELECT * FROM avaliacoes ORDER BY nota DESC;

In [ ]:
# b. Selecione todas as avaliaÃ§Ãµes com nota maior ou igual a 4
SELECT * FROM avaliacoes WHERE nota >= 4;

In [ ]:
# c. Selecione os comentÃ¡rios em que aparece as palavras 'bom' ou 'gostei'.
SELECT * FROM avaliacoes WHERE comentario LIKE '%bom%' OR comentario LIKE '%gostei%';

### 5. FunÃ§Ãµes de agregaÃ§Ã£o

a. Verifique quantos filmes existem na tabela para cada gÃªnero.

b. Calcule a mÃ©dia das notas por filme (agrupando pelo filme_id).

c. Liste apenas os filmes com nota mÃ©dia maior que 4.

In [ ]:
# a. Verifique quantos filmes existem na tabela para cada gÃªnero.
SELECT genero, COUNT(*) AS quantidade_filmes FROM filmes GROUP BY genero;

In [ ]:
# c. Liste apenas os filmes com nota mÃ©dia maior que 4.
SELECT f.titulo, AVG(a.nota) AS media_nota
FROM filmes f
JOIN avaliacoes a ON f.id = a.filme_id
GROUP BY f.titulo
HAVING AVG(a.nota) > 4;

### 6. Atualizando e removendo registros

a. Atualize a nota de uma avaliaÃ§Ã£o de 3 para 4.

b. Delete todas as avaliaÃ§Ãµes com nota igual a 1.

In [ ]:
# a. Atualize a nota de uma avaliaÃ§Ã£o de 3 para 4.
UPDATE avaliacoes SET nota = 4 WHERE id = 1;

In [ ]:
# b. Delete todas as avaliaÃ§Ãµes com nota igual a 1.
DELETE FROM avaliacoes WHERE nota = 1;

## Parte 2 - PrÃ¡tica em SQLite com Python

Usando Python e o pacote sqlite3:

a. Crie o banco de dados local `cinema.db` e adicione as tabelas filmes e avaliacoes com os campos definidos acima.

b. Implemente as quatro operaÃ§Ãµes CRUD para ambas tabelas, ou seja, insira, leia, atualize e remova registros diretamente pelo Python.

In [1]:
# Usando Python e o pacote sqlite3:
#a. Crie o banco de dados local cinema.db e adicione as tabelas filmes e avaliacoes com os campos definidos acima.

import sqlite3

# Conectando ao banco de dados (serÃ¡ criado se nÃ£o existir)
conn = sqlite3.connect('cinema.db')
cursor = conn.cursor()

# Criando a tabela filmes
cursor.execute('''
CREATE TABLE IF NOT EXISTS filmes (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    titulo TEXT NOT NULL,
    genero TEXT NOT NULL,
    ano_lancamento INTEGER
)
''')

# Criando a tabela avaliacoes
cursor.execute('''
CREATE TABLE IF NOT EXISTS avaliacoes (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    filme_id INTEGER NOT NULL,
    nota INTEGER CHECK(nota BETWEEN 1 AND 5),
    comentario TEXT,
    FOREIGN KEY (filme_id) REFERENCES filmes(id)
)
''')

# Salvando as alteraÃ§Ãµes e fechando a conexÃ£o
conn.commit()
conn.close()

print("Banco de dados e tabelas criados com sucesso!")

Banco de dados e tabelas criados com sucesso!

In [2]:
# b. Implemente as quatro operaÃ§Ãµes CRUD para ambas tabelas, ou seja, insira, leia, atualize e remova registros diretamente pelo Python.

import sqlite3

# FunÃ§Ã£o para conectar ao banco
def conectar():
    return sqlite3.connect('cinema.db')

In [3]:
def inserir_filme(titulo, genero, ano):
    conn = conectar()
    cursor = conn.cursor()
    cursor.execute("INSERT INTO filmes (titulo, genero, ano_lancamento) VALUES (?, ?, ?)", (titulo, genero, ano))
    conn.commit()
    conn.close()

def inserir_avaliacao(filme_id, nota, comentario=None):
    conn = conectar()
    cursor = conn.cursor()
    cursor.execute("INSERT INTO avaliacoes (filme_id, nota, comentario) VALUES (?, ?, ?)", (filme_id, nota, comentario))
    conn.commit()
    conn.close()

In [4]:
def listar_filmes():
    conn = conectar()
    cursor = conn.cursor()
    cursor.execute("SELECT * FROM filmes")
    filmes = cursor.fetchall()
    conn.close()
    return filmes

def listar_avaliacoes():
    conn = conectar()
    cursor = conn.cursor()
    cursor.execute("SELECT * FROM avaliacoes")
    avaliacoes = cursor.fetchall()
    conn.close()
    return avaliacoes

In [5]:
def atualizar_filme(id, novo_titulo, novo_genero, novo_ano):
    conn = conectar()
    cursor = conn.cursor()
    cursor.execute("UPDATE filmes SET titulo = ?, genero = ?, ano_lancamento = ? WHERE id = ?", (novo_titulo, novo_genero, novo_ano, id))
    conn.commit()
    conn.close()

def atualizar_avaliacao(id, nova_nota, novo_comentario):
    conn = conectar()
    cursor = conn.cursor()
    cursor.execute("UPDATE avaliacoes SET nota = ?, comentario = ? WHERE id = ?", (nova_nota, novo_comentario, id))
    conn.commit()
    conn.close()

In [6]:
def remover_filme(id):
    conn = conectar()
    cursor = conn.cursor()
    cursor.execute("DELETE FROM filmes WHERE id = ?", (id,))
    conn.commit()
    conn.close()

def remover_avaliacao(id):
    conn = conectar()
    cursor = conn.cursor()
    cursor.execute("DELETE FROM avaliacoes WHERE id = ?", (id,))
    conn.commit()
    conn.close()

In [7]:
# Inserindo dados
inserir_filme("O Enigma", "Suspense", 2022)
inserir_avaliacao(1, 5, "Muito bom!")

# Listando
print(listar_filmes())
print(listar_avaliacoes())

# Atualizando
atualizar_filme(1, "O Enigma Final", "Suspense", 2023)
atualizar_avaliacao(1, 4, "Bom, mas o final foi previsÃ­vel")

# Removendo
remover_avaliacao(1)
remover_filme(1)

[(1, 'O Enigma', 'Suspense', 2022)]
[(1, 1, 5, 'Muito bom!')]